<!-- <footer class="footer bg-dark  py-3 mt-auto"> -->
<!-- <footer class="footer bg-dark  py-3 bottom"> -->

    
<footer class="footer bg-dark py-3 sticky-bottom ">
        <div class="container">
        <span class="text-muted">
            &copy; YelpCamp
        </span>
    </div>
</footer>