<ul class="nav sticky-top navbar-dark bg-dark ">
    <li class="nav-item">
      <a class="nav-link active navbar-brand" aria-current="page" href="#">YelpCamp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/campgrounds">Campgrounds</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
      </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>