<% layout('/layouts/boilerplates') %>
    <h1 class="text-center">New Campground</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name='campground[title]' id="title" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name='campground[location]' id="location" required>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL </label>
                    <input class="form-control" type="text" name='campground[image]' id="image" required>
                </div> -->
                <!-- <input type="file" name="images" multiple> -->
                
                

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name='campground[description]'
                        id="description" required></textarea>
                </div>
                <!-- //////////// the input price  /////////////// -->
                <label class="form-label" for="price"> Campground Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" name="campground[price]"
                        aria-label="Amount (to the nearest dollar) " placeholder="0.0" id="price" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="price">.00</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="images" class="form-label">Multiple files input example</label>
                    <input class="form-control" type="file" id="images" name="images" multiple>
                  </div>
                <!-- /////////////////////////////////////// -->



                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>



            </form>
            <div class="mb-3">
                <a href="/campgrounds">All Campground</a>
            </div>

        </div>
    </div>

    